<%= form_with(model: syougai, local: true, url: syougai) do |f| %>
    
    <div id="head">
        <div>
            <%= f.label :jichitai_cd, "　自治体／民間　" %>
            <%= f.text_field :jichitai_cd, size: 5 %>
        </div>
        <div>
            <%= f.label :taiou_cd, "　　　　　事業　" %>
            <label><%= f.radio_button :jigyou_cd, 1 %>上水</label>
            <label><%= f.radio_button :jigyou_cd, 2 %>下水</label>
        </div>
        <br>
        <div>
            <%= f.label :naiyou, "　　　　　内容　" %>
            <%= f.text_area :naiyou, cols: 50, rows: 6 %>
        </div>
        <div>
            <%= f.label :jisyou, "　　現象／原因　" %>
            <%= f.text_area :jisyou, cols: 50, rows: 8 %>
        </div>
        <div>
            <%= f.label :syochi, "　　　　　処置　" %>
            <%= f.text_area :syochi, cols: 50, rows:8 %>
        </div>
        <div>
            <%= f.label :biko, "　　　　　備考　" %>
            <%= f.text_area :syochi, cols: 50, rows:6 %>
        </div>
        <br>
        <div>
            <%= f.label :enduser, "エンドユーザー　" %>
            <%= f.text_field :enduser, size: 20 %>
        </div>
        <div>
            <%= f.label :motouke, "　　　　元請け　" %>
            <%= f.text_field :motouke, size: 20 %>
        </div>
        <div>
            <%= f.label :syubetu_kbn, "　　　　　種別　" %>
            <%= f.select :syubetu_kbn, ["通常","クレーム","手戻り"] %>
        </div>
        <div>
            <%= f.label :hosyu_kbn, "　　　保守区分　" %>
            <%= f.select :hosyu_kbn, ["年間保守","スポット保守"] %>
        </div>
        <div>
            <%= f.label :taiou_cd, "　　　　対応者　" %>
            <%= f.text_field :taiou_cd, size: 3 %>
        </div>
        <br>
        <div>
            <%= f.label :renraku_d, "　連絡受付日時　" %>
            <%= f.date_field :renraku_d, size: 6 %>
            <%= f.time_field :renraku_t, size: 6 %>
        </div>
        <div>
            <%= f.label :syanai, "　社内作業時間　" %>
            <%= f.text_field :syanai, size: 3 %>
        </div>
        <div>
            <%= f.label :genchi_d, "　現地到着日時　" %>
            <%= f.date_field :genchi_d, size: 6 %>
            <%= f.time_field :genchi_t, size: 6 %>
        </div>
        <div>
            <%= f.label :sagyou_d, "　作業完了日時　" %>
            <%= f.date_field :sagyou_d, size: 6 %>
            <%= f.time_field :sagyou_t, size: 6 %>
        </div>
        <div>
            <%= f.label :sagyoukei, "　社内合計時間　" %>
            <%= f.text_field :sagyoukei, size: 3 %>
        </div>
        <div>
            <%= f.label :idou, "　　　移動時間　" %>
            <%= f.text_field :idou, size: 3 %>
        </div>
        <br>
        <% if false %>
        <% end %>
        
        <div>
            <%= f.submit "更新" %>
        </div>
    </div>

<% end %>
